<!DOCTYPE html>
<html>

  <!-- CABECERA -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>TodoApp Improved App</title>
    <!-- CSS -->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Javascript -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>

  <!-- CUERPO -->
  <body ng-app="starter" ng-controller="ContentController as contentCtrl">

    <!-- MENU LATERAL -->
    <ion-side-menus>

      <!-- CONTENIDO PRINCIPAL - Tareas -->
      <ion-side-menu-content>
        <ion-header-bar align-title="left" class="bar-positive">
          <button class="button button-icon" ng-click="toggleProjects()">
            <i class="icon ion-navicon"></i>
          </button>
          <h1 class="title">{{activeProject.title}}</h1>
          <div class="buttons">
            <button class="button button-icon" ng-click="toggleDeleteTasks()">
              <i class="icon ion-trash-a"></i>
            </button>
            <button class="button button-icon" ng-click="toggleReorderTasks()">
              <i class="icon ion-shuffle"></i>
            </button>
            <button class="button button-icon" ng-click="newTask()">
              <i class="icon ion-compose"></i>
            </button>
          </div>
        </ion-header-bar>
        <ion-content>
          <ion-list show-delete="showDeleteTasks" show-reorder="showReorderTasks">
            <ion-item class="item-remove-animate" ng-repeat="task in activeProject.tasks" item="task" ng-click="selectTask(task, $index)">
              {{task.title}}
              <ion-delete-button class="ion-minus-circled" ng-click="deleteTask($index)">
              </ion-delete-button>
              <ion-reorder-button class="ion-navicon" on-reorder="reorderTask(task, $fromIndex, $toIndex)">
              </ion-reorder-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu-content>

      <!-- MENU IZQUIERDO - Proyectos -->
      <ion-side-menu side="left">
        <ion-header-bar align-title="left" class="bar-calm">
          <h1 class="title" style="padding-left: 6px;">Projects</h1>
          <div class="buttons">
            <button class="button button-icon ion-trash-a" ng-click="toggleDeleteProjects()"></button>
            <button class="button button-icon ion-shuffle" ng-click="toggleReorderProjects()"></button>
            <button class="button button-icon ion-plus" ng-click="newProject()"></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <ion-list show-delete="showDeleteProjects" show-reorder="showReorderProjects">
            <ion-item class="item-remove-animate" ng-repeat="project in projects" item="project" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
              {{project.title}}
              <ion-delete-button class="ion-minus-circled" ng-click="deleteProject($index)">
              </ion-delete-button>
              <ion-reorder-button class="ion-drag" on-reorder="reorderProject(project, $fromIndex, $toIndex)">
              </ion-reorder-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>

    <script id="new-task.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="bar-secondary">
          <h1 class="title">New Task</h1>
          <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
        </ion-header-bar>
        <ion-content>
          <form ng-submit="createTask(task)">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="What do you need to do?" ng-model="task.title"></input>
              </label>
              <label class="item item-input" ng-show="deadlineSelected">
                <span class="input-label">Deadline:</span>
                <p>{{ newDeadlineString }}</p>
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Create Task</button>
            </div>
          </form>
          <div class="padding">
            <button class="button button-outline button-calm" style="width: 100%;" ng-click="selectDeadline()">Select deadline</button>
          </div>
        </ion-content>
      </div>
    </script>

  </body>
</html>
